.techContainer {
  margin: 80px auto;
  padding: 15px;

  height: 400px;
  width: 1000px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  color: white;
  box-shadow: 0 0 10px black;
}
.techleftpanel {
  background-color: rgb(255, 167, 167);
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
}
.techrightpanel {
  background-color: rgb(192, 192, 192);
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.techlinks {
  height: 50px;
  width: 70%;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(251, 73, 73);
}
.techlinks:hover {
  background-color: rgb(245, 111, 111);
  box-shadow: 0 0 10px rgb(255, 75, 75);
  transition: 0.2s ease-in-out;
}
.techpage {
  color: black;
}
.techpage > div {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.techpage > div > div > p {
  text-align: left;
}
